.content-report-revenue {
    background-color: #f5f5f5 !important;
    height: 100%;
    .general-content1 {
        position: relative;
        height: 4vh;
        margin-top: 1.5rem;
        margin-bottom: 0.25rem;
        width: 76vw;
        margin-left: 13vw;
        .ct-button{
            width: 100%;
            background-color: #999;
            height: 4vh;
            border-radius: 10vh;
            .segment{
                width: 25%;
                float: left;
                height: 4vh;
                text-align: center;
                line-height: 4vh;
                color: white!important;
                label{
                    font-size: 1rem;
                }
            }
            .active{
                border: none!important;
                background-color: #00A859;
                border-radius: 10vh;
            }
        }
    }
    .calendar{
        margin-top: 1.25rem;
        position: relative;
        height: 4.6vh;
        ion-item{
            --inner-padding-end: 0px;
            --padding-start:1rem;
            height: 4.6vh;
            width: 8rem;
            border: 1px solid #ddd;
            box-shadow: 0rem 0.1rem 0.3rem 0rem #eee;
            border-radius: 10vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            ion-datetime{
                color: #00A859;
                padding: 0 !important;
                min-height: 2.3rem;
                line-height: 2.15rem !important;
                padding-bottom: 0.6rem !important;
                font-size: 0.9rem;
            }
            ion-icon{
                padding-left: 0.5vw;
                padding-bottom: 0.95rem;
                color: #00A859;
                font-size: 1.2rem;
            }
        }
    }
    .chart-bar{
        position: relative;
        height: 60vh;
        width: 96%;
        .ct3_bg {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 1vh 2vw;
            background-color: white;
            .chart {
                padding: 1vh 1vh !important;
                height: 100% !important;
                width: 100% !important;
                font-size: 2vw !important;
            }
        }
    }
    .note-chart{
        text-align: center;
        font-size: 0.9rem;
        font: 50%;
    }
    .button{
        margin-top: 1.5rem;
        text-align: center;
        button{
            border-radius: 5vh;
            color: white;
            padding: 0.5rem 1.2rem;
            background-color: #FF9900;
            font-size: 1.1rem;
        }
    }
}